@import "tailwindcss"

@layer base {
  body {
    @apply bg-background text-text-main antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold tracking-tight;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-surface/50 backdrop-blur-xl border border-white/10 shadow-xl;
  }

  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-accent to-primary;
  }
}